/* Header */
header {
  padding: 0.5rem 0;
  background-color: var(--darkBackground);
}

.support-logo {
  color: var(--lightFont);
}

.support-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

#room-form {
  display: flex;
  gap: 0.25rem;
}

#room-form > input {
  padding: 0.25rem 0.5rem;
}

#room-form > button {
  padding: 0.25rem 0.5rem;
}

/* Modal */
.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkBackground);
  transition: all 0.4s;
}

.modal:target {
  visibility: visible;
  opacity: 0.9;
  z-index: 2;
}

.modal__content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 45vw;
  min-width: max-content;
  gap: 1rem;
  background-color: var(--darkBackground);
}

.modal__header {
  display: flex;
  justify-content: center;
}

.modal__header > a {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--darkFont);
}

.modal__nav {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  gap: 2rem;
}

.modal__nav > .nav-button {
  background-color: var(--greyBackground);
  border-radius: var(--borderRadius);
  padding: 0.5rem 1.5rem;
  color: var(--darkFont);
  font-family: "XTyperBold";
  font-size: 1.5rem;
}

/* Rooms */
#rooms__content {
  background-color: var(--greyBackground);
}

#rooms-table {
  width: 100%;
  /* border-collapse: collapse; */
}

#rooms-table > thead > tr > th {
  text-align: left;
  font-size: 1.5rem;
  font-family: "XTyperBold";
  color: var(--darkFont);
}

#rooms-table > tbody > tr > th {
  font-size: 1rem;
  text-align: left;
  font-family: "XTyperRegular";
}

/* Settings */
.sound-options > .option {
  display: flex;
  justify-content: space-between;
}

.setting {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.setting > h2 {
  font-size: 1.25rem;
}

.slider {
  display: flex;
  gap: 1rem;
}

.slider > span {
  width: 2rem;
  font-size: 1.5rem;
}

/* snackbar */
.snackbar {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: 2rem;
  left: 0;
  top: 0vh;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: all 300ms;
}

.snackbar.visible {
  visibility: visible;
  opacity: 1;
  top: 10vh;
}
